.fundoMainFrame {
  background-color: #374c52;
  opacity: 1;
  padding-top: 14em;
  padding-bottom: 10em;
  background-image: url("../img/mainFrame.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}
.textos {
  color: #ffffff !important;
  z-index: 1000;
  text-align: center;
}
.btnCTA{
  margin-top: 4em;
}
.projetosContainer h3, .avContainer h3{
  text-align: center;
  font-weight: 300;
  padding: 3em;
}
.linhas{
  padding-top: 1em;
  padding-bottom: 6em;
  text-align: center;
}
.colunaTxt{
  text-align: justify;
}
.btnSaibaMais{
  text-align: center;
  padding: 0.5em;
}
.colunaImgDir{
  display: flex;
  justify-content: end;
  align-items: center;
}
.colunaImgEsq{
  display: flex;
  justify-content: start;
  align-items: center;
}
.colunaImgDir .img, .colunaImgEsq .img{
  height: auto;
  max-width: 500px;
  min-width: 0px;
  border-radius: 1em;
}
.imgSobre{
  height: auto;
  max-width: 500px;
  min-width: 0px;
  border-radius: 1em;
}
.linhaSobre{
  padding-top: 1em;
  padding-bottom: 4em;
  text-align: center;
}
.colunaImgSobre{
  display: flex;
  justify-content: center;
  align-items: center;
}
.sobreContainer{
  background-color: #354044;
  margin-top: 2em;
}
.sobreContainer h3{
  text-align: center;
  font-weight: 300;
  padding: 3em;
  color: #ffffff;
}
.colunaTxtSobre{
  text-align: justify;
  color: #ffffff;
}
.depoimentos{
  display: flex;
  justify-content: center;
  align-items: center;
}
.linhaDepoimentos{
  padding-bottom: 6em;
  text-align: center;
}
.depoimento{
  background-color: #e1e1e189;
  padding: 2em 1em 2em 1em;
  border-radius: 1em;
}
.depoimento img{
  padding: 2em;
  max-width: 20em;
  border-radius: 50%;
}
.depoimento h5{
  padding: 1em;
}
.depoimento p{
  text-align: justify;
}
.btnWhatsapp{
  width: 100%;
  display: flex;
  justify-content: end;
}
.fixedButton{
  position: fixed;
  bottom: 20px; /* Distância do fundo */
  right: 20px;   /* Distância da esquerda */
  padding: 10px 20px;
  border: none;
  cursor: pointer;
}