body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
body {
  scrollbar-width: none; /* Para navegadores baseados em Firefox */
  -ms-overflow-style: none; /* Para navegadores baseados em Internet Explorer e Edge antigo */
}

body::-webkit-scrollbar {
  display: none; /* Para navegadores baseados em WebKit, como Chrome e novo Edge */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
